<div class="main-container">
  <header [formGroup]="searchFG">
    <div class="select-container">
      <select formControlName="genero">
        <option value="gender">Hombre</option>
        <option value="male">Mujer</option>
      </select>
    </div>
    <div class="input-container">
      <input
        type="text"
        placeholder="Busqueda por nombre"
        formControlName="nombre"
      />
    </div>
  </header>
</div>

<!--
<div class="top-container">
    <div class="info-container">
        <div class="info-container-extra">
            <h5 style="width: 40%;font-size: 16px;margin: 0;">Telefono +51 765 4321</h5>
            <h5 style="width: 60%;font-size: 16px;margin: 0;">Correo: tricardo003@gmail.com</h5>
        </div>
    </div>
    <div class="registro-container">
       <p> ¿No tienes una cuenta?Registrate</p>
    </div>
</div>
<div class="bottom-container">

</div>
-->
